joblib==1.6.0
matplotlib==3.11.2
nflreadpy @ git+https://github.com/nflverse/nflreadpy@a4f33d2216b2d7179ab3420a49a9dc49e30c42fa
pandas==3.0.5
polars==1.43.2
pyarrow==25.0.1
scikit-learn==1.9.1
seaborn==0.13.2
streamlit==1.64.0
